@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #0b141a;
    color: #e9edef;
    height: 100vh;
    overflow: hidden;
    font-family:
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      "Noto Sans",
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(134, 150, 160, 0.3) !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(134, 150, 160, 0.5) !important;
}
